@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

.logo:hover {
  color: rgb(2, 2, 2, 0.3);
  font-weight: bold;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
}


